.about {
    margin-top: $base-spacing;
    .body {
        @include grid-column(7);
        margin-left: -10%;
        margin-top: 15%;
        position: relative;
        p {
            display: inline;
            background: $black;
            padding: 3px;
            padding-left: 0;
            padding-right: 0;
            box-shadow: 10px 0 0 #000, -10px 0 0 #000;
            line-height: 1.75;
            &::after {
                content: "";
                display: block;
                height: $base-spacing;
            }
        }
    }
    .image {
        @include grid-column(6);
    }
    .parallax-image {
        position: relative;
        // Not sure about this, should probably be changed
        margin-bottom: 30%;
    }
}

.social-links {
    text-align: right;
    a {
        color: $white;
        font-size: 3em;
        padding: 0 0.5rem;
        transition: all 0.3s;
        :hover {
            color: $light-gray;
        }
    }
}

.contact-form {
    background: $black;
    position: relative;
    h2 {
        font-size: 3em;
        margin-bottom: 1.5rem;
    }
    form, h2 {
        @include grid-column(6);
        @include grid-push(3);
    }
    form {
        .buttons {
            text-align: center;
        }
    }
}

.form-submitted {
    max-width: 600px;
    h2 {
        font-size: 5em;
        margin-bottom: 0.25;
        text-align: center;
    }
    .alert.notices.green {
        
    }
}
@media only screen and (max-width: 768px) {
    .social-links {
        a {
            font-size: 2.5em;
        }
    }

}