html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    background: $black;
}

#body {
    padding-top: $header-large;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    @include grid-container;
}
